* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h2 {
  margin: 25px auto;
}

.delete-btn {
  margin-left: 10px;
  cursor: pointer;
  background: none;
  border: none;
}

.edit-input {
  width: 70%;
  font-size: 1rem;
}

.controls {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters button {
  margin-left: 0.5rem;
  cursor: pointer;
}

.filters button.active {
  font-weight: bold;
  text-decoration: underline;
}

#taskSection,
#taskList {
  width: 100%;
  max-width: 600px;
}

#taskSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: lightblue;
}

footer {
  display: flex;
  justify-content: center;
  margin: 25px auto;
}

.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}
