/* Base styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */
.site-header {
  background-color: #0f172a;
  color: white;
  padding: 1.5rem;
}

/* Flexbox container */
.container {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  /* justify-content: space-between; */
  height: 60vh;
}

/* Flex items */
.card {
  border: 1px solid #ccc;
  padding: 1rem;
  flex: 1;
  /* align-items: center; */
}

/* Footer */
.site-footer {
  text-align: center;
  padding: 1rem;
  background-color: #e5e7eb;
}
