* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px auto;
}

main p {
  margin: 15px auto;
}

main button {
  margin: 5px auto;
  border: none;
  padding: 5px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
