* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h2 {
  margin: 25px auto;
}

#taskSection,
#taskList {
  width: 100%;
  max-width: 600px;
}

#taskSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: lightblue;
}

footer {
  display: flex;
  justify-content: center;
  margin: 25px auto;
}

.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}
